body {
background-color: rgba(250, 233, 233, 0.699);
font-family: sans-serif;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(110,0,29);
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(110,0,29);
}

.liste {
    color: #fff;
}

li {
    margin: 3px;
    padding: 5px;
    border-left: solid black 2px;
    background-color: rgb(179 57 81);
    color: #fff;
    }

.nav-list {
    display: flex;
    list-style: none;
    border: solid black 2px;
    Background-color: hsla(0, 0%, 0%, 0.856);
    flex-wrap: wrap;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
    gap: 35px;
                }

.nav-list li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 130px;
    text-align: center;
    }